html{
	box-sizing: border-box;
}
*{
	box-sizing: inherit;
}
body{
	font-family: 'Stint Ultra Expanded', Verdana, sans-serif;
	font-size: 100%;
	background-color: white;
	margin: 0;
}
.container{
	display:  flex;
	align-items: center;
	justify-content: center;
}
.popup{
	width: 350px;
	background: #e3d3d3;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: visible;
}
.popup img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
	font-size: 30px;
	font-weight: bold;
	margin: 30px 0 10px;
}
.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #40e105;
	color: #fff;
	border: 0;
	outline:  none;
	font-size: 18px;
	border-radius:  4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width:500px){
	.popup{
		width: 400px;
		background: #e3d3d3;
		border-radius: 6px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		text-align: center;
		padding: 0 30px 30px;
		color: #333;
		visibility: visible;
	}
	.popup img{
		width: 100px;
		margin-top: -50px;
		border-radius: 50%;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
	.popup h2{
		font-size: 30px;
		font-weight: bold;
		margin: 30px 0 10px;
	}
	.popup button{
		width: 100%;
		margin-top: 50px;
		padding: 10px 0;
		background: #40e105;
		color: #fff;
		border: 0;
		outline:  none;
		font-size: 18px;
		border-radius:  4px;
		cursor: pointer;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	}
}
@media screen and (min-width:940px){
.popup{
	width: 400px;
	background: #e3d3d3;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: visible;
}
.popup img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
	font-size: 30px;
	font-weight: bold;
	margin: 30px 0 10px;
}
.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #40e105;
	color: #fff;
	border: 0;
	outline:  none;
	font-size: 18px;
	border-radius:  4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
}