@charset "ISO-8859-1";
html{
	box-sizing: border-box;
}

*{
	box-sizing: inherit;
}

body{
	font-family: Verdana, Arial, serif;
	font-size: 100%;
	background-color: white;
	margin: 1px;
}

#container{
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0.1px 0.1px 3px black;
}

.head{
    height: 100px;
    background-color: rgb(185, 210, 236); 
    display: flex;
    align-items: center;
}

#logo{
    margin-right: 150px;
    margin-left: 50px;
}

#heading{
    font-size: 40px;
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bold;
}

.menu{
    height: 30px;
    background-color: rgb(55, 120, 201); 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu p{
    font-size: 16px;
    font-family: 'Stint Ultra Expanded', Georgia, serif;
    font-weight: bold;
    margin-right: 40px;
}

.menu p a{
    color: white;
    text-decoration: none;
}

.account{
    height: 520px;
    background-color: white;  
    margin-top: 50px;
}

.decor{
    height: 400px;
    max-width: 700px;
    margin: 0 auto;
    background-color: rgb(237, 240, 243); 
    box-shadow: 2px 2px 9px rgb(55, 120, 201); 
}

.welcome{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.welcome h{
    font-size: 30px;
    font-family: 'Stint Ultra Expanded', Georgia, serif;
    font-weight: bold;
}

.button{
    height: 100px;   
}

.open{
    text-align: center;
}

.design{
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 9px rgb(55, 120, 201);
    border-radius: 25px;
    font-size: 15px;
    background-color: rgb(55, 120, 201);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Stint Ultra Expanded', Georgia, serif;
    font-weight: bold;
    color: white;
}

.footer{
    height: 50px;
    background-color: rgb(185, 210, 236);
}

.foothead{
    font-size: 14px;
    font-family: 'Stint Ultra Expanded', Georgia, serif;
    font-weight: bold;
    color: white;
    background-color: rgb(55, 120, 201);
}
